/* .box{
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),url("https://th.bing.com/th/id/OIP.qSpMUysxCDYBl1gTh1QzKAHaEK?rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    background-size: cover;
    
} */